:root {
    --background: #f4f2f2;
    --dark-blue: #1a7787;
    --darken-blue: #19606c;
    --lighten-blue: #3aa7b4;
    --light-blue: #e3dde0;

    --device-background: white;
    --device-items-title: black;
    --progress-bar: #3aa7b4;
    --primary: #3aa7b4;
}
